
<body>

<div class="how-section1">
    <div class="container">
        <br><br>
        <div class="zz"></div>
        <h1 class="top">Life cycle of Butterflies.</h1>
        <div class="row">
            <div class="col-md-4 how-img">
                <img src="/assets/inf1.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-8">
                <h4>The First Stage: The Egg</h4>

                <p class="text-muted">A butterfly starts life as a very small, round, oval or cylindrical egg. The
                    coolest
                    thing about butterfly eggs, especially monarch butterfly eggs, is that if you look close enough you
                    can
                    actually see the tiny caterpillar growing inside of it. Some butterfly eggs may be round, some oval
                    and
                    some may be ribbed while others may have other features. The egg shape depends on the type of
                    butterfly
                    that laid the egg.

                    Butterfly eggs are usually laid on the leaves of plants, so if you are actively searching for these
                    very
                    tiny eggs, you will have to take some time and examine quite a few leaves in order to find some.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>The Second Stage: The Larva (Caterpillar) </h4>

                <p class="text-muted">When the egg finally hatches, most of you would expect for a butterfly to emerge,
                    right? Well, not exactly. In the butterfly’s life cycle, there are four stages and this is only the
                    second stage. Butterfly larvae are actually what we call caterpillars. Caterpillars do not stay in
                    this
                    stage for very long and mostly, in this stage all they do is eat. When the egg hatches, the
                    caterpillar
                    will start his work and eat the leaf they were born onto. This is really important because the
                    mother
                    butterfly needs to lay her eggs on the type of leaf the caterpillar will eat – each caterpillar type
                    likes only certain types of leaves. Since they are tiny and can not travel to a new plant, the
                    caterpillar needs to hatch on the kind of leaf it wants to eat. </p>
            </div>
            <div class="col-md-4 how-img">
                <img src="/assets/inf2.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 how-img">
                <img src="/assets/inf3.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-8">
                <h4>The Third Stage: Pupa (Chrysalis)</h4>

                <p class="text-muted">The pupa stage is one of the coolest stages of a butterfly’s life. As soon as a
                    caterpillar is done growing and they have reached their full length/weight, they form themselves
                    into a pupa, also known as a chrysalis. From the outside of the pupa, it looks as if the caterpillar
                    may just be resting, but the inside is where all of the action is. Inside of the pupa, the
                    caterpillar is rapidly changing. Now, as most people know, caterpillars are short, stubby and have
                    no wings at all. Within the chrysalis the old body parts of the caterpillar are undergoing a
                    remarkable transformation, called ‘metamorphosis,’ to become the beautiful parts that make up the
                    butterfly that will emerge.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>The Fourth Stage: Adult Butterfly</h4>

                <p class="text-muted">Finally, when the caterpillar has done all of its forming and changing inside the
                    pupa, if you are lucky, you will get to see an adult butterfly emerge. When the butterfly first
                    emerges from the chrysalis, both of the wings are going to be soft and folded against its body. This
                    is because the butterfly had to fit all its new parts inside of the pupa.
                    As soon as the butterfly has rested after coming out of the chrysalis, it will pump blood into the
                    wings in order to get them working and flapping – then they get to fly. Usually within a three or
                    four-hour period, the butterfly will master flying and will search for a mate in order to reproduce.
                </p>
            </div>
            <div class="col-md-4 how-img">
                <img src="/assets/inf4.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
        <br><br>
        <h1>Migration of Butterflies</h1>
        <div class="row">
            <div class="col-md-4 how-img">
                <img src="/assets/inf4.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-8">
                <h4>Migration</h4>

                <p class="text-muted">Monarch butterflies are not able to survive the cold winters of most of the United
                    States so they migrate south and west each autumn to escape the cold weather.
                    The monarch migration usually starts in about October of each year, but can start earlier if the
                    weather turns cold sooner than that.
                    monarch butterflies will spend their winter hibernation in Mexico and some parts of Southern
                    California where it is warm all year long.
                    If the monarch lives in the Eastern states, usually east of the Rocky Mountains, it will migrate to
                    Mexico and hibernate in oyamel fir trees.

                </p>
            </div>

        </div>
        <br><br>
        <h1>Habitat of Butterflies.</h1>
        <div class="row">
            <div class="col-md-4 how-img">
                <img src="/assets/mig.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-8">
                <h4>Habitat</h4>

                <p class="text-muted">Monarch butterflies are not able to survive the cold winters of most of the United
                    States so they migrate south and west each autumn to escape the cold weather.
                    The monarch migration usually starts in about October of each year, but can start earlier if the
                    weather turns cold sooner than that.
                    monarch butterflies will spend their winter hibernation in Mexico and some parts of Southern
                    California where it is warm all year long.
                    If the monarch lives in the Eastern states, usually east of the Rocky Mountains, it will migrate to
                    Mexico and hibernate in oyamel fir trees.

                </p>
            </div>

        </div>

        <br><br>
        <h1>Diet of Butterflies.</h1>
        <div class="row">
            <div class="col-md-4 how-img">
                <img src="/assets/die.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-8">
                <h4>Diet</h4>

                <p class="text-muted">Butterflies can eat anything that can dissolve in water. They mostly feed on nectar from flowers but also eat tree sap, dung, pollen, or rotting fruit. They are attracted to sodium found in salt and sweat. This is why they sometimes even land on people in Butterfly Parks.
                     Sodium as well as many other minerals is vital for the butterflies reproduction.

                </p>
            </div>

        </div>

        <br><br>


    </div>
</div>
</body>