<!-- <body>
    <div class="container">
        <br>
        <br>
        <h1>Butterfly families.</h1>
        <br>
        <div class="table">
            <tr> 
                <td class="bk"><img class="img" src="/assets/1.jpg" alt=""><span>Family:</span> Hedylidae<br><span>
                        Common Name:</span> American moth-butterflies<br><span>Charecterstics:</span> Small, brown, like
                    geometrid moths; antennae not clubbed; long slim abdomen.</td>
                <td class="bk"><img class="img" src="/assets/2.jpg" alt=""><span>Family:</span> Hesperiidae<br><span>
                        Common Name:</span> Skippers<br><span>Charecterstics:</span>Small, darting flight; clubs on
                    antennae hooked backwards</td>
                <td class="bk"><img class="img" src="/assets/3.jpg" alt=""><span>Family:</span> Lycaenidae<br><span>
                        Common Name:</span>Blues, coppers, hairstreaks <br><span>Charecterstics:</span>Small, brightly
                    coloured; often have false heads with eyespots and small tails resembling antennae</td>


            </tr>
            <tr>
                <td><img class="img" src="/assets/4.jpg" alt=""><span>Family:</span>Nymphalidae <br><span>
                        Common Name:</span>Brush-footed or four-footed butterflies <br><span>Charecterstics:</span>Usually have reduced forelegs, so appear four-legged; often brightly coloured</td>
                <td><img class="img" src="/assets/5.jpg" alt=""><span>Family:</span>Papilionidae <br><span>
                        Common Name:</span>Swallowtails <br><span>Charecterstics:</span>Often have 'tails' on wings; caterpillar generates foul taste with osmeterium organ; pupa supported by silk girdle</td>
                <td><img class="img" src="/assets/6.jpg" alt=""><span>Family:</span>Pieridae <br><span>
                        Common Name:</span>Whites and allies <br><span>Charecterstics:</span>Mostly white, yellow or orange; some serious pests of Brassica; pupa supported by silk girdle</td>

            </tr>
            <tr>
                <td></td>
                <td><img class="img" src="/assets/8.jpg" alt=""><span>Family:</span>Riodinidae <br><span>
                        Common Name:</span>Metalmarks <br><span>Charecterstics:</span>Often have metallic spots on wings; often conspicuously coloured with black, orange and blue</td>
                <td></td>

            </tr>
          
        </div>
    </div>
</body> -->

<body>
    <section id="team" class="pb-5">
        <div class="container">
            <div class="zz"></div>
            <h1>Butterfly families.</h1>
            <br>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/1.jpg" alt="card image"></p>
                                        <h4 class="card-title">Hedylidae</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Hedylidae</h4>
                                        <p class="card-text"> Common Name: American moth-butterflies. <br>
                                            Charecterstics: Small, brown, like
                                            geometrid moths; antennae not clubbed; long slim abdomen.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/2.jpg" alt="card image"></p>
                                        <h4 class="card-title">Hesperiidae</h4>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Hesperiidae</h4>
                                        <p class="card-text"> Common Name: Skippers <br> </p> Charecterstics: Small,
                                        darting flight; clubs on
                                        antennae hooked backwards.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/3.jpg" alt="card image"></p>
                                        <h4 class="card-title">Lycaenidae</h4>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lycaenidae</h4>
                                        <p class="card-text">Common Name: Blues, coppers, hairstreaks.
                                            <br>Charecterstics: Small, brightly
                                            coloured; often have false heads with eyespots and small tails resembling
                                            antennae.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/4.jpg" alt="card image"></p>
                                        <h4 class="card-title">Nymphalidae</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Nymphalidae</h4>
                                        <p class="card-text">Common Name: Brush-footed or four-footed
                                            butterflies.<br>Charecterstics: Usually have reduced forelegs, so appear
                                            four-legged; often brightly coloured.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/5.jpg" alt="card image"></p>
                                        <h4 class="card-title">Papilionidae</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Papilionidae</h4>
                                        <p class="card-text">Common Name: Swallowtails.<br>Charecterstics: Often have
                                            'tails' on wings; caterpillar generates foul taste with osmeterium organ;
                                            pupa supported by silk girdle.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/6.jpg" alt="card image"></p>
                                        <h4 class="card-title">Pieridae</h4>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Pieridae</h4>
                                        <p class="card-text">Common Name: Whites and allies<br>Charecterstics: Mostly
                                            white, yellow or orange; some serious pests of Brassica; pupa supported by
                                            silk girdle.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->

            </div>
        </div>
    </section>

</body>