.navbar{
    background-color: rgb(159, 212, 51);
    height: 90px;
    width: 1349px;
    flex-wrap: wrap;
    
}
.navbar-nav{
    font-size: 15px;
    padding-left: 300px;
  
}
.nav-link{
    color: black;
    font-weight: bold;
}
.nav-item:hover{
    border-radius: 20px;  
    background-color: rgb(255, 255, 255);
}