<nav class="navbar navbar-expand-sm fixed-top ">
    <a class="navbar-brand" href="#">
        <img src="/assets/logoo1.png" width="40" height="65" class="d-inline-block align-top" alt="logo">
        <img src="/assets/NA.png" width="160" height="65" class="d-inline-block align-top">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/info">INFORMATION</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/endangered">ENDANGERED</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/world">WORLD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/sighting">SIGHTING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer class="nav">
    <div class="nav2">


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style=" display: flex;">
                    <img class="fb2" src="/assets/mail.png" alt="facebook" style="float: left;;">
                    <span style="float: right;"> www.wgb.com<br>www.worldgeograpgicbutterfly.com
                    </span>
                </div>
                <div class="col-md-4" style=" display: flex;">
                    <img class="fb2" src="/assets/phone.png" alt="facebook" style="float: left;;">
                    <span style="float: right;"> +91 8884 069 346
                    </span>
                </div>
                <div class="col-md-4" style=" display: flex;">
                    <img class="fb2" src="/assets/map.png" alt="facebook" style="float: left;;">
                    <span style="float: right;"> Company registered in India.<br>
                        Registered Office: HUBLI, KA, INDIA.

                    </span>
                </div>
            </div>
            <br>
            <br>
            <nav class="sc">
                <a href="https://www.facebook.com"><img class="fb" src="/assets/fb.png" alt="facebook"></a>

                <a href="https://www.instagram.com"><img class="fb" src="/assets/insa2.png" alt="instagram"></a>

                <a href="https://www.twitter.com"><img class="fb" src="/assets/tw.png" alt="twitter"></a>

                <a href="https://www.youtube.com"><img class="fb" src="/assets/yt.png" alt="youtube"></a>
            </nav>
            <br>
            <div class="sc2">
                © 2019 WGB. Copyrights WGB. All Rights Reserved
            </div>
        </div>
    </div>
</footer>


<!-- <app-demo2></app-demo2> -->