.navbar{
    background-color: rgb(159, 212, 51);
    height: 90px;
    width: 1349px;
    flex-wrap: wrap;
    
}
.navbar-nav{
    font-size: 15px;
    padding-left: 300px;
  
}
.nav-link{
    color: black;
    font-weight: bold;
}
.nav-item:hover{
    border-radius: 20px;  
    background-color: rgb(255, 255, 255);
}
.nav{
    background-color: rgb(54, 85, 25);
    width: 100%;
    height: 280px;
    color: blanchedalmond;
}
.nav2{
    margin: 40px;
    width: 100%;
}
.row{
    padding-left: 80px;
}
.fb{
  margin: 5px;
    width: 38px;
    height: 38px;
}
.fb2{
    margin-top: 3px;
    margin-right: 20px;
    width: 48px;
    height: 48px;
}
.sc{
    padding-left:45%;
}
.sc2{
    padding-left:38%;
}