<body>
    <div class="container">
        <br>
        <br>
        <br><br>


        <div id="center">
            <h1>Butterfly Sightings</h1>
        </div>
        <br>
        <div id="sign">
            <form action="#" id="form">
            <h4>Information about the Butterfly <br> Spotted
            </h4>

            <textarea name="" id="" cols="50" rows="4" form="userform">Enter Text here...</textarea><br>
            <h4>Place :</h4><input type="text-box">
            <h4> Upload the Photograpf of the<br> Butterfly you spotted</h4>
            <input type="file" id="myFile"><br>
            <br>
            <input type="submit" value="Upload">
            </form>
        </div>

        <br>
        <br>
    </div>
</body>