<body>
    <div class="w"></div>
    <div class="container">
        <div class="zz"></div>
        <h1 class="a1">Saving our Butterflies.</h1>
        <br>
        <div></div>
        <div><iframe class="b1 " src="https://www.youtube.com/embed/aBfJtTm_XD4?autoplay=1"
                frameborder="0"></iframe>
            <p class="sec" style=" text-align:justify"><span class="sp">Why support the World Geographic
                    Butterly?</span><br><br> Butterflies are a vital part of our wildlife heritage and are valuable as
                sensitive indicators of the health of our environment.<br>Butterflies make the world a little more colorful. Their vivid wing coloration and fluttering flight path lend a special touch of beauty to nature.<br> However, butterflies do more than just paint a pretty picture. They help flowers pollinate, eat plenty of weedy plants and provide a food source for other animals. 
            
                <br><br>
            </p>
            <div></div>
        </div>
        
        <a class="link" href=""><h4>Please join us in saving the Butterflies!</h4></a>
        <br>
        <br>
        <div class="row">
            <div class="col-md 6 left"><h1>Who We Are</h1>
            <img class="img1" src="/assets/img1.jpg" alt="Butterfly"><br><span class="sec" style="text-align:justify ;padding:10px;"><br>World Geographic Butterfly(WGB) is the IN wildlife charity dedicated to saving butterflies and our environment. The charity uses its research to provide advice on how to conserve and restore butterfly habitats and it runs projects to protect more than 100 threatened species of Lepidoptera. Butterfly Conservation is also involved in conserving hundreds of sites and reserves for butterflies and moths across the UK</span></div>
            <div class="col-md 6 right">
                <h1>Importance Of Butterflies.</h1><br>
                <iframe class="b2" src="https://www.youtube.com/embed/JyYosN3pVcU" frameborder="0"></iframe><br><span>Credit: UrbanMali</span><br>
            <hr><br><span class="quotes">"Butterflies are nature's Angel they remind us what a gift it is to be alive."<br>
                <span class="quotes2">-Robyn Nola</span></span><br><hr></div>
        </div>
    </div>
</body>